html {
	// font-size: percentage(10/16);
}

body {
	// margin-top: $page-header-menu-h;
	font-family: $ff-sans;
	// font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	margin: 0;
	color:#333333;

	a {	

		&:hover{
			color: #000;
			cursor: pointer;
			p &{
				color:#2e84ed;
			}
		}

		&:focus{
			color: #000;

			p &{
				color:#2e84ed !important;
			}
		}

		p &{
			color:#2e84ed;
		}
	}
}

*{
	box-sizing: border-box;
}

path {
	transition-property: fill;
}

img {
	display: block;
}

svg {
	height: auto;

	&:hover{
		color: #000;
		fill: #000;
	}
}

.container{
	margin: 0 auto;
	width: 100%;
    max-width: 490px;
}

.nowrap{
	white-space: nowrap;
}

.italic{
	font-style: italic;
}
