html {
	// font-size: percentage(10/16);
}

body {
	// margin-top: $page-header-menu-h;
	font-family: $ff-sans;
	// font-size: 1.6rem;
	-webkit-font-smoothing: subpixel-antialiased;
	margin: 0;

	a {
		color: #000;
	}
}

*{
	box-sizing: border-box;
}

path {
	transition-property: fill;
}

img {
	display: block;
}

svg {
	height: auto;
}

.container{
	margin: 0 auto;
	width: 100%;
    max-width: 490px;
}
