/* Contact Us page */
#map_container {
	position: relative;
}

#map {
	height: 0;
	overflow: hidden;
	padding-bottom: 22.25%;
	padding-top: 30px;
	position: relative;
}

#map .row {
	margin: 0;
}

#map figure {
	margin: 0;
	padding: 0;
}

#map img {
	vertical-align: bottom;
	width: 100%;
}

.myMap {
	height: 460px;
	width: 100%;
}

iframe,
object,
embed {
	max-width: 100%;
}

.contact-page .container,
#general-info .container {
	margin-bottom: 40px;
	padding-top: 65px;
}

.contact-page .blurb {
	margin-bottom: 40px;
}
