.faqtopic,
#general_faq .faqtopic {
	color: #787878;
	font-family: $ff-sans;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: auto;
}

.faqtopic.active {
	color: #000;
}

.question {
	color: #000;
	font-family: $ff-sans;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: auto;
	line-height: 24px;
}

.answer {
	&,
	& p {
		color: #000;
		font-family: $ff-sans;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: auto;
		line-height: 24px;
	}
}

#general_faq {
	.container {
		border-bottom: 3px solid #f00;
		padding-bottom: 80px;
	}

	.heading_title {
		margin: 15px 0 40px;
	}

	.nav-pills > li {
		> a {
			display: inline-block;
			padding: 0 0 10px;
		}

		&.active > a,
		> a:hover {
			background: transparent;
			color: #000;
		}
	}

	.main-text {
		padding-bottom: 50px;
		padding-top: 65px;
	}

	.question {
		cursor: pointer;
		margin: 0;
		padding: 20px 0 0;
	}

	.answer {
		/*display: none; */
		padding: 5px 0 0;

		p {
			margin: 0;
		}

		a {
			text-decoration: underline;
		}
	}
}
