// Site footer
footer {
	float: left;
	text-align: left;
}

footer h5,
.site-footer__copyright {
	color: #666;
	display: inline;
	font-weight: 500;
}

footer a {
	color: #000;
	font-family: $ff-sans;
	font-size: 15px;
	font-weight: 500;
	margin: 0 0 0 7px;
	text-decoration: underline;
}

footer a:focus,
footer a:hover {
	color: #000;
	outline: none;
}

.closeBg {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 0;
}
