/* General Info page */
.main-text {
	padding-top: 30px;
}

#general-info {
	// .col-md-3 {
	//  padding-left: 0;
	// }

	.quote {
		padding-top: 30px;
	}

	.main-text {
		// padding-left: 40px;
		padding-top: 30px;
	}

	#clients_testimonials_content {
		background: #ff1d00 url('../img/bg-gradient-orange-red.gif') left
			top repeat-x;
		color: #fff;
	}
}

// Catering

#general_catering h1.heading_title {
	margin-bottom: 30px;
}

// Quotes, Testimonials and Clients

.quotes {
	.right_copy.quoter {
		color: #fff;
		margin-bottom: 25px;
	}

	span.quote-citation {
		display: block;
		font-weight: bold;
		margin-top: 5px;
	}
}
