/* Home page */
.hero {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;

	.down_arrow {
		background: transparent url('../img/arrow.png') no-repeat;
		background-position: center;
		border-style: none;
		bottom: 30px;
		cursor: default;
		display: block;
		height: 21px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		visibility: hidden;
		width: 30px;
	}

	.carousel-control {
		display: none;
	}

	.carousel-indicators {
		background: map-get($colors, 'red');
		bottom: -22px;
		display: block;
		height: auto;
		left: auto;
		margin: 0;
		padding: 40% 10px 29px;
		right: -120px;
		transform: rotate(10deg);
		width: 150px;
		z-index: 50;

		li {
			background: rgba(255, 255, 255, 0.35);
			border-style: none;
			display: block;
			float: none;
			height: 6px;
			margin: 10px 5%;
			width: 6px;
		}

		.active {
			background: rgba(255, 255, 255, 0.35);
			background: rgba(255, 255, 255, 1);
			border-style: none;
			display: block;
			float: none;
			height: 6px;
			margin: 10px 5%;
			width: 6px;
		}
	}

	.carousel-inner {
		> .item {
			h3 {
				color: #fff;
				font-family: $ff-serif;
				font-size: 6vw;
				font-weight: 500;
			}

			p {
				color: #fff;
				font-family: $ff-sans;
				font-size: 1.6vw;
				font-weight: 500;
				margin: 0 auto;
			}
		}
	}
}

.logo-holder {
	background: #000;
	height: 100%;
	left: 0;
	min-height: 100%;
	padding: 20px 0;
	position: absolute;
	top: 0;
	width: 11%;
	z-index: 1020;

	&__address {
		color: #fff;
		font-family: $ff-sans;
		font-size: 14px;
		font-weight: bold;
		margin: 0 40px;
		position: relative;
		width: 150%;
		z-index: 25;
	}

	&::after {
		background: #000;
		bottom: 0;
		content: '';
		display: block;
		height: 200%;
		left: 6%;
		position: absolute;
		transform: rotate(10deg);
		width: 200%;
		z-index: 10;
	}

	.logo {
		left: 20%;
		max-width: 52px;
		position: absolute;
		top: 100px;
		width: 40%;
		z-index: 20;

		img {
			max-width: 52px;
			width: 100%;
		}
	}
}

.carousel-home {
	img {
		width: 100%;
	}

	&__copy {
		bottom: 14%;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 55%;
	}
}

// Intro
.intro {
	background: #000;
	overflow: hidden;
	padding: 0;
	position: relative;

	p,
	h3 {
		color: #fff;
		font-weight: 500;
		text-align: center;
	}

	p {
		font-family: $ff-serif;
		font-size: 26px;
		margin: 0 auto 30px;
		max-width: 830px;

		a {
			color: #fff;
			text-decoration: underline;
		}
	}

	h3 {
		font-family: $ff-serif;
		font-size: 16px;
		font-weight: bold;
		margin: 0;
	}

	.jumbotron {
		margin: -30px 0 0;
		padding: 0;
		position: relative;
		z-index: 5;

		&::after {
			border-color: #000 transparent transparent;
			border-style: solid;
			border-width: 13vw 50vw 0;
			content: '';
			display: block;
			height: 0;
			left: 0;
			position: absolute;
			top: 0;
			width: 0;
			z-index: 10;
		}
	}
}

.intro_text {
	margin: 0 auto;
	max-width: 1200px;
	padding: 80px 5% 0;
	position: relative;
	width: 90%;
	z-index: 10;
}

// Panels on homepage for Spaces

.panel {
	border: 0 solid transparent;
	box-shadow: none;
	margin-bottom: 0;

	.container {
		// padding-bottom: 25px;
		// padding-top: 25px;
	}
}

.panel-title {
	font-family: $ff-serif;
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
}

.panel-heading {
	border-radius: 0;

	&.openPanel {
		background: #fff;
	}

	a:hover {
		text-decoration: none;
	}
}

.learn-more {
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	display: block;
	float: right;
	font-family: $ff-sans;
	font-size: 11px;
	font-weight: bold;
	padding: 8px;
	text-align: center;
	text-transform: uppercase;
}

.learn-less {
	color: #fff;
	display: block;
	float: right;
}

// Spaces: Stage, Hall, Screening Room and Lobby

#thestage {
	.panel .panel-heading {
		background: map-get($colors, 'stage');
		color: #fff;

		.right_copy {
			color: #fff;
		}

		&.openPanel {
			background: #fff;
			color: map-get($colors, 'stage');

			.right_copy {
				color: map-get($colors, 'stage');
			}
		}
	}

	.learn-less {
		color: map-get($colors, 'stage');
		stroke: map-get($colors, 'stage');

		svg {
			color: map-get($colors, 'stage');
			stroke: map-get($colors, 'stage');
		}
	}
}

#thehall {
	.panel .panel-heading {
		background: map-get($colors, 'hall');
		color: #fff;

		&.openPanel {
			background: #fff;
			color: map-get($colors, 'hall');

			.right_copy {
				color: map-get($colors, 'hall');
			}
		}

		.right_copy {
			color: #fff;
		}
	}

	.learn-less {
		color: map-get($colors, 'hall');
	}
}

#thescreeningroom {
	.panel .panel-heading {
		background: map-get($colors, 'screening-room');
		color: #fff;

		&.openPanel {
			background: #fff;
			color: map-get($colors, 'screening-room');
		}

		.right_copy {
			color: #fff;
		}

		&.openPanel .right_copy {
			color: map-get($colors, 'screening-room');
		}
	}

	.learn-less {
		color: map-get($colors, 'screening-room');
	}
}

#thegallery {
	.panel .panel-heading {
		background: map-get($colors, 'gallery');
		color: #fff;

		&.openPanel {
			background: #fff;
			color: map-get($colors, 'gallery');

			.right_copy {
				color: map-get($colors, 'gallery');
			}
		}

		.right_copy {
			color: #fff;
		}
	}

	.learn-less {
		color: map-get($colors, 'gallery');
	}

	.carousel-indicators {
		max-width: 220px;
	}
}

#accordion {
	.panel .panel-heading .container > div.right_copy {
		padding: 0 105px 0 15px;
	}

	div.tab-content ul {
		margin-left: 0;
		padding-left: 10px;

		li {
			margin-left: 0;
			padding-left: 3px;
		}
	}
}

/* remove border lines from panels */

.panel-default > .panel-heading {
	border-color: transparent;
}

/* "Learn More" for each Panel */

.panel-heading {
	a .learn-less {
		display: none;
	}

	&.openPanel {
		.learn-less {
			display: block;
		}

		.learn-more {
			display: none;
		}
	}
}

.learn-less svg {
	height: 12px;
	width: 12px;
}

/* Pills: Tabs in each Space section */

.panel-collapse {
	.container.navpill-holder {
		padding: 0;
	}

	.nav {
		margin: 20px 16px 20px 0;

		& > li:nth-child(1) > a {
			padding: 10px 15px 10px 0;
		}
	}

	hr {
		background: #000;
		height: 1px;
		margin: 0 auto;
		max-width: 1170px;
	}
}

.nav-pills {
	a {
		font-family: $ff-sans;
		font-size: 15px;
		font-weight: bold;
	}

	> li {
		&.active {
			> a {
				&.nav__link--stage {
					&,
					&:hover,
					&:focus {
						background: none;
						color: map-get($colors, 'stage');
					}
				}

				&.nav__link--hall {
					&,
					&:hover,
					&:focus {
						background: none;
						color: map-get($colors, 'hall');
					}
				}

				&.nav__link--gallery {
					&,
					&:hover,
					&:focus {
						background: none;
						color: map-get($colors, 'gallery');
					}
				}

				&.nav__link--screening-room {
					&,
					&:hover,
					&:focus {
						background: none;
						color: map-get($colors, 'screening-room');
					}
				}
			}
		}

		> a {
			background: none;
			color: #000;

			&.nav__link--stage:hover {
				background: none;
				color: map-get($colors, 'stage');
			}

			&.nav__link--hall:hover {
				background: none;
				color: map-get($colors, 'hall');
			}

			&.nav__link--gallery:hover {
				background: none;
				color: map-get($colors, 'gallery');
			}

			&.nav__link--screening-room:hover {
				background: none;
				color: map-get($colors, 'screening-room');
			}
		}
	}
}

.carousel-indicators {
	left: 0;
	margin: 0 auto;
	max-width: 145px;
	right: 0;
	text-align: center;
	width: auto;

	li {
		background: rgba(255, 255, 255, 0.35);
		border-style: none;
		display: block;
		float: left;
		height: 6px;
		margin: 10px 15px;
		width: 6px;
	}

	.active {
		background: rgba(255, 255, 255, 1);
		border-style: none;
		display: block;
		float: left;
		height: 6px;
		margin: 10px 15px;
		width: 6px;
	}
}
