/* Phones only */

body.phone {
	.logo-holder {
		display: none;

		.logo {
			display: none;
		}
	}

	.hero {
		background-attachment: scroll;
		background-color: rgba(0, 0, 0, 0);
		background-image: url('/assets/img/the-times-center-main-stage.jpg');
		background-position: center;
		background-position-x: 50%;
		background-position-y: 50%;
		background-size: 100%;
		margin: 0;
		padding: 0 0 59%;
	}

	#homecoming-float {
		.navbar-brand {
			float: left;
			height: 50px;
			left: 0;
			margin: 0 auto;
			max-width: 220px;
			opacity: 1;
			padding: 15px;
			position: absolute;
			right: 0;
		}
	}

	#siteNav {
		background: transparent;

		.navbar-nav > li:first-of-type > a {
			font-weight: 700;
			padding: 5px 20px;
			text-align: left;
			width: 100%;
		}
	}

	.container > .navbar-header {
		background: #000;
	}

	.site-nav {
		.navbar-toggle {
			background-color: rgba(0, 0, 0, 0.6);
			border-width: 0;
			float: left;
			margin: 10px;
		}
	}

	nav {
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
	}

	.site-nav-menu {
		margin: 0 auto;
		z-index: 1040;

		> li > a {
			display: block;
			font-weight: 700;
			padding: 5px 20px;
			position: relative;
			text-align: left;
			width: 100%;
		}
	}

	#carousel-home {
		display: none;
	}

	.navbar-collapse,
	.navbar-form {
		background: rgba(0, 0, 0, 0.8);
		border-style: none;
		border-top: 1px solid #fff;
		padding: 20px 0;
		z-index: 1050;
	}

	.intro_text {
		padding: 30px 5% 0;
	}

	.intro {
		p {
			font-size: 18px;
			line-height: 1.5;
		}

		h3 {
			font-size: 12px;
		}

		.jumbotron {
			margin: 0;
		}
	}

	.panel-collapse {
		.nav {
			margin: 20px 0;
		}
	}

	#event_spaces {
		.carousel-indicators {
			display: none;
		}
	}

	.panel-heading {
		padding: 20px;
		position: relative;

		.container {
			padding: 0;
		}
	}

	#headingThree .right_copy.larger {
		font-size: 18px;
	}

	#headingOne,
	#headingTwo,
	#headingThree,
	#headingFour {
		&.panel-heading {
			.right_copy {
				display: none;
			}
		}
	}

	.panel .col-md-2 {
		position: static;
	}

	.btn-toggle {
		background-attachment: scroll;
		background-color: rgba(0, 0, 0, 0);
		background-image: url('/assets/img/right-arrow.svg');
		background-position: 0 0;
		background-position-x: 100%;
		background-position-y: 0;
		background-repeat: no-repeat;
		background-size: 12px;
		display: block;
		height: 22px;
		width: 20px;

		&.collapsed span,
		span.learn-more {
			display: none;
		}
	}

	.panel-title {
		font-size: 26px;
		line-height: 26px;

		br {
			display: none;
		}
	}

	.tab-content {
		// padding: 0 20px;
	}

	#event_spaces .space_images img {
		max-width: 100%;
		width: 100%;
	}

	#booknow.right_copy {
		font-family: $ff-sans;
		font-size: 14px;
	}

	.carousel-control {
		display: none;
	}

	.footer-container {
		margin: 0 auto;
	}
}

#booknow div.main-content p {
	font-family: $ff-sans;
	font-size: 14px;
}
