// Each event space
.space {
	&__header {
		min-height: 190px;
		padding-bottom: 35px;
		padding-top: 35px;

		.phone & {
			padding-bottom: 20px;
			padding-top: 20px;
			min-height: auto;
		}
	}

	&__body {
		padding-bottom: 25px;
	}
}
